[Unit]
Description=Nix store setup
After=nix-mkdir.service
Wants=nix-mkdir.service
RequiresMountsFor=/nix
RequiresMountsFor=/nix/var
Before=nix-daemon.socket

[Service]
ExecStart=/usr/share/nix/nix-setup
Type=oneshot
